body {
    background-image: url('../../assets/more_songs_about.jpg');
}
.iframe-holder{
  position:relative;
  width:100%;
  height: 0;
  padding-bottom: 75%; 
}
iframe {
  position:absolute;
  width: 100%; 
  height:100%; 
  left:0;
  top:0;
}
.navbar{
    background: rgba(255, 200, 200, .7);
    width: 100%;
}

.panel{
    background: rgba(255, 200, 200, 0.8);
    margin:10px;
}
.navbar-brand{
    color: black;
    font-size: 2em;
    font-weight: bold;
}
h2{
    color: black;
    font-weight: bold;
    font-size: 2em;
}

.about-text{
    color: black;
    font-size: 1em;
}
.nav-link{
    color: black;
    font-weight: bold;
    font-size: 1em;
}
.form-control{
}
.btn {
    background:rgb(200,0,0);
    border: 0px solid black;
    font-weight:bold;
}
.btn:hover {
    background: rgb(150,0,0);
    border: 0px solid black;
}
.logo-head{
    background:red;
    padding-left: 3px;
    padding-right: 7px;
    border: 2px solid black;
    border-right: 0px solid black;
    color: white;
}
.logo-tail{
    background:white;
    padding-left: 3px;
    padding-right: 7px;
    border: 2px solid black;
    border-left: 0px solid black;
    color:black;
}
p.nav-link > a{
    color:rgb(200,0,0);
}
.panel-odd-number{
}
#queryResultsList {
    list-style-type: none;
    padding-left: 0px;
}
#queryResultsList li {
    list-style-type: none;
}
