<link rel="stylesheet" href="css/about/style.css">
<nav class="navbar">
    <div class="navbar-header" width=100%>
        <a class="navbar-brand" href="#">Band Browser</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a class="nav-link" href="#">About</a></li>
        <li><a class="nav-link" href="">Search</a></li>
    </ul>
</nav>
<div class="container">
<div class="panel panel-default">
<div class="panel-body">
    <h3 class="text-center">About</h3>
    <p>Band Browser is a project to organize the youtube music videos of various artists into a
    single, accessible location, with additional features to make searching/playing those videos
    more convenient. The project dances close to the edge of copyright infringement, and is liable
    to disappear at any second. We highly encourage you to purchase the music that this site links
    from a venue that will benefit the artists such as iTunes or Amazon. Thank you for visiting us.
    </p> 
    <h3 id="search" class="text-center">Catalogued Artists</h3>
    <div class="row text-center">
      <p>
        <a class="navbrand-link" href="/#!/DavidBowie">
            BROWSER<span style="color: red">ONE</span>BOWIE
        </a>
      </p>
    </div>
    <div class="row text-center">
      <p>
        <a class="navbrand-link" href="/#!/TalkingHeads"><em><span class='logo-head'>HEADS</span><span class='logo-tail'>BROWSER</span></em></a>
      </p>
    </div>
    <div class="row text-center">
      <p>
        <a class="navbrand-link" href="/#!/U2"><span class='logo-u2'>U2 // BROWSER</span></a>
      </p>
    </div>
    <div class="row text-center">
      <p>
        <a class="navbrand-link" href="/#!/ButtholeSurfers"><span class='logo-surfers'>THE BUTTHOLE SURFER</span></a>
        <span>(NSFW)</span>
      </p>
    </div>
    <div ng-hide="true" id="player">
      <div id="yt_placeholder"></div>
    </div>
</div>
</div>
</div>
</div>
