<link rel="stylesheet" href={{"css/"+$ctrl.artist+"/style.css"}}>
<!--Collection of all stylized navs for individual artists-->
<nav ng-show="$ctrl.artist=='DavidBowie'" class="navbar">
    <div class="navbar-header" width=100%>
        <a class="navbar-brand" href="#">BROWSER<span style="color: red">ONE</span>BOWIE</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a class="nav-link" href="/">About</a></li>
        <li><a class="nav-link" href="">Search</a></li>
    </ul>
</nav>

<nav ng-show="$ctrl.artist=='TalkingHeads'" class="navbar">
    <div class="navbar-header" width=100%>
        <a class="navbar-brand" href="#"><em><span class='logo-head'>HEADS</span><span class='logo-tail'>BROWSER</span></em></a>
    </div>
    <ul class="nav navbar-nav">
        <li><a class="nav-link" href="/">About</a></li>
        <li><a class="nav-link" href="">Search</a></li>
    </ul>
</nav>

<nav ng-show="$ctrl.artist=='U2'" class="navbar">
    <div class="navbar-header" width=100%>
        <a class="navbar-brand" href="#">U2 // BROWSER</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a class="nav-link" href="/">About</a></li>
        <li><a class="nav-link" href="">Search</a></li>
    </ul>
</nav>

<nav ng-show="$ctrl.artist=='ButtholeSurfers'" class="navbar">
    <div class="navbar-header" width=100%>
        <a class="navbar-brand" href="#">THE BUTTHOLE SURFER</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a class="nav-link" href="/">About</a></li>
        <li><a class="nav-link" href="">Search</a></li>
    </ul>
</nav>
