<div>
    <div class="row">
        <div class="col-md-6">
          <div class="col-12">
            <div class="panel panel-default" id="AboutPanel">
                <div class="panel-body">
                  <div class="text-center"> <h2>Search</h2></div>
                  <p> Search By: <select ng-model="$ctrl.searchParam">
                      <option value='album'>Album</option> 
                      <option value='song_name'>Song Name</option> 
                      <option value='year'>Year</option> 
                      <option value='$'>Any</option> 
                    </select>
                  </p>
                  <p ng-hide="$ctrl.searchParam != 'album'">
                    From Album: <select ng-model="$ctrl.query">
                      <option ng-repeat="album in $ctrl.albums" value = {{album}}>{{album}}</option>
                      <option value='-1'>All</option>
                    </select>
                  </p>
                  <p ng-hide="$ctrl.searchParam=='album'">
                      Search Term:<input ng-model="$ctrl.query"></p>
                  <p> Sort: <select ng-model="$ctrl.order">
                    <option value="song_name">Name</option>
                    <option value="time">Length</option>
                    <option value="track_number">Track Number</option>
                    </select>
                  </p>
                </div>
            </div>
          </div> 
          <div class="col-12">
            <div class="panel panel-default tobottom">
                <div class="panel-body">
                    <div class="text-center">
                        <h2>{{$ctrl.curr_song.album}} - {{$ctrl.curr_song.song_name}}</h2>
                    </div>
                    <div class="iframe-holder">
                        <iframe src="{{$ctrl.url}}" frameborder="0" allowfullscreen>
                        </iframe>
                    </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default" height="100%">
                <div class="panel-body">
              <div ng-repeat="song in $ctrl.songs | filter:$ctrl.setQuery($ctrl.searchParam,$ctrl.query) | orderBy:$ctrl.order">
                  <div class="row">
                      <div class="col-md-4">
                          <img src="{{song.pic}}"/>
                      </div>
                      <div class="col-md-8">
                        <p class="nav-link">{{song.album}} Track {{song.track_number}}: 
                            <a href="" ng-click="$ctrl.setSong(song)">{{song.song_name}}</a>
                            ({{song.time}})
                        </p>
                      </div>
                  </div>
                  <hr></hr>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
