<div class="container">
<div class="panel panel-default">
<div class="panel-body">
<div class = "row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-12">
                <div class="panel panel-default panel-left-side">
                <div class="panel-body">
                    <div class="text-center">
                        <h2>{{$ctrl.curr_song.album}} - {{$ctrl.curr_song.song_name}}</h2>
                    </div>
                    <div class="iframe-holder">
                      <div id="player">
                          <div id="yt_placeholder" style="width: 100%"></div>
                      </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-12">
                <div class="panel panel-default panel-left-side">
                <div class="panel-body">
                    <h3 class="text-center">About</h3>
                    <div class="row text-center">
                        <div class="col-sm-4"><span class='nav-link'>Song: </span>{{$ctrl.curr_song.song_name}}</div>
                        <div class="col-sm-4"><span class='nav-link'>Album: </span>{{$ctrl.curr_song.album}}</div>
                        <div class="col-sm-4"><span class='nav-link'>Track Number: </span>{{$ctrl.curr_song.track_number}}</div>
                    </div>
                    <div class="row text-center">
                        <div class="col-sm-4"><span class='nav-link'>Duration: </span>{{$ctrl.curr_song.time}}</div>
                        <div class="col-sm-4"><span class='nav-link'>Video/Audio: </span>
                        <a href='https://www.youtube.com/watch?v={{$ctrl.curr_song.id}}' target="_blank">Youtube</a></div>
                        <div class="col-sm-4"><span class='nav-link'>Lyrics: </span>
                        <a href='https://genius.com/David-bowie-{{$ctrl.lyrics_src}}-lyrics' target="_blank">Genius</a></div>
                    </div>
                    <h3 class="text-center">Lyrics</h3>
                    <div class="text-center">
                        <span ng-repeat="line in $ctrl.lyrics">{{line.line}}<br></span>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-12">
            <div class="panel panel-default panel-right-side">
            <div class="panel-body">

            <div class="row">
              <div class = "col-md-6 form-group">
                  <label>Search By</label>
                  <select class="form-control" id="searchTypeSelect" ng-model="$ctrl.searchParam">
                      <option value='album'>Album</option> 
                      <option value='song_name'>Song Name</option> 
                      <option value='year'>Year</option> 
                      <option value='lyrics'>Lyrics</option> 
                      <option value='$'>Any</option> 
                  </select>
              </div>
              <div ng-hide="$ctrl.searchParam != 'album'" class = "col-md-6 form-group">
                  <label>Album</label>
                  <select class="form-control" ng-model="$ctrl.query">
                    <option ng-repeat="album in $ctrl.albums" ng-click="$ctrl.updateByQuery(album)">{{album}}</option>
                    <option ng-click="$ctrl.updateByQuery('$')">All</option>
                  </select>
              </div>
              <div ng-hide="$ctrl.searchParam=='album'" class="col-md-6 form-group">
                  <label>Search Term</label>
                  <input class="form-control" type="text" ng-model="$ctrl.query"
                          ng-keypress="$ctrl.updateOnKeyPress($event.keyCode)">
              </div>
              <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary" ng-click="$ctrl.updateQueryResults()"
                    style="width:95%">Search</button>
              </div>
            </div>

            </div>
            </div>
            </div>

            <div class="col-12">
              <div ng-repeat="song in $ctrl.queryResults">
              <div class="panel panel-default panel-right-side" 
                  style="margin-bottom:5px" 
                  ng-click="$ctrl.setSong(song,true)">
                <div class="panel-body" style="padding:5px">
                  <div class="row">
                      <div class="col-md-4">
                          <img src="{{song.pic}}"/>
                      </div>
                      <div class="col-md-8">
                        <p class="nav-link">{{song.album}} Track {{song.track_number}}: 
                            <a href="" >{{song.song_name}}</a>
                            ({{song.time}})
                        </p>
                      </div>
                  </div>
                </div>
                </div>
              </div>
            </div>

        </div>
    </div>
</div>
</div>
</div>
</div>
